<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
    <!--lincando ao arquivo css-->
    <!--Não é necessário colocar a pasta public pois ele á padrão-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <!--Para que as configurações personalizadas do css tenham efeito, deve colocar após carregamento bootstrap.-->
    <link rel="stylesheet" href="/css/style.css"> 
</head>