<%- include('partials/header.ejs') %>
<body> 
    <%- include('partials/navbar.ejs') %>
    
    <div class="container">        
        <hr>
        <h1> Perguntas</h1>
        <hr>
        <!--Redirecionar para página de perguntas. -->        
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <hr>  
        <!--Listar todas a perguntas revebidas do BD -->
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4> <%= pergunta.titulo %></h4> 
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Responder</button>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>
