<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
    <!--lincando ao arquivo css-->
    <!--Não é necessário colocar a pasta public pois ele á padrão-->
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
</head>
<body>     
    <!--Container é um recurso do bootstrap para centralizar conteúdo no navegador.-->
    <div class="container"> 
        <!--Card é um recurso do bootstrap que dá aparência mais bonita para o formulário.-->
        <div class="card">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form>
                    <label>Título</label>
                    <input type="text" placeholder="Título" class="form-control">
                    <br><label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<!--Dependências necessárias para utilizar o bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<!--Acioana o script JS-->
<script src="/js/bootstrap.min.js"></script>
</html>