
<!--Função utilizada para utilizar partials dentro do HTML-->
<%- include('partials/header.ejs') %>

<body> 
    <%- include('partials/navbar.ejs') %>
    <!--Container é um recurso do bootstrap para centralizar conteúdo no navegador.-->
    <div class="container"> 
        <!--Card é um recurso do bootstrap que dá aparência mais bonita para o formulário.-->
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta"> <!--Rota que receberá as informações do formulário-->
                    <label>Título</label>
                    <input type="text" placeholder="Título" class="form-control" name ="titulo">
                    <br><label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-primary">perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>